* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dc-light: #ffffff;
  --dc-dark: #1c1c1c;
  --dc-primary: #1086f9;
  --dc-secondary: #0282f9;
  --dc-footer: #797675;
}

body {
  font-family: "Open Sans", sans-serif;
}

.d-flex {
  display: flex;
}

.container {
  width: 75%;
  margin: auto;
}

header {
  margin-top: 1.5rem;
  align-content: center;


  .img {
    display: inline-block;


  }

  .menu {
    display: flex;
    gap: 2rem;
    list-style: none;

    a {

      text-decoration: none;
      color: var(--dc-dark);
      font-weight: 700;
    }
  }
}


main {
  .banner_up {
    background-image: url("/jumbotron.jpg");
    background-size: cover;
    height: 450px;
  }




  .jumbotron {

    background-color: var(--dc-dark);
    height: 668px;

  }

  .banner {
    background-color: var(--dc-primary);
    height: 155.5px;

  }
}