* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dc-light: #ffffff;
  --dc-dark: #1c1c1c;
  --dc-primary: #1086f9;
  --dc-secondary: #0282f9;
  --dc-footer: #797675;
}

body {
  font-family: "Open Sans", sans-serif;
}

.d-flex {
  display: flex;
}

.container {
  width: 75%;
  margin: auto;
}

header {
  margin-top: 1.5rem;
  align-content: center;

  .container {
    justify-content: space-between;
    padding-bottom: 1rem;
  }

  .img {
    display: inline-block;


  }

  nav {
    display: flex;
    align-items: center;



    .menu {
      display: flex;
      gap: 2rem;
      list-style: none;

      a {

        text-decoration: none;
        color: var(--dc-dark);
        font-weight: 700;
      }
    }
  }
}


main {
  .banner_up {
    background-image: url("/jumbotron.jpg");
    background-size: cover;
    height: 450px;
  }

  .unstile-list {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .info-icon {
    padding: 2rem;
    align-items: center;
    display: flex;
    font-size: 10px;
    color: var(--dc-light);

    span {
      margin-left: 1rem;
    }

    img {
      justify-content: space-between;
      height: 55px;
    }


  }



}

.banner {
  background-color: var(--dc-primary);
  height: 155.5px;
  display: flex;

}

.containerDc {
  background-color: var(--dc-dark);


  .row {
    width: 75%;
    margin: auto;
    display: flex;
    color: var(--dc-light);
    flex-wrap: wrap;
    padding-top: 2rem;
    row-gap: 1rem;



    img {
      height: 185px;
      width: 100%;
    }

  }



}

.col {
  width: calc(100% / 12 * 2);
  padding: 1rem;
}