* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dc-light: #ffffff;
  --dc-dark: #1c1c1c;
  --dc-primary: #1086f9;
  --dc-secondary: #0282f9;
  --dc-footer: #797675;
}

body {
  font-family: 'Open Sans';
}



header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.5rem;
  align-content: center;


  .img {
    display: block;
  }



  .menu {
    display: flex;
    gap: 2rem;
    list-style: none;

    a {
      text-decoration: none;
      color: var(--dc-dark);
      font-weight: 700;
    }
  }
}


main {
  width: 1280px;
  height: 287px;



  .title {
    height: 132px;
    background-color: var(--dc-dark);
  }

  .icon {
    height: 155.5px;
    background-color: var(--dc-secondary);
  }
}